@import "./_variables";

body {
  // overflow: hidden;
  // height: 100vh;
  // width: 100vw;
  font-family: $fontFamily;
  // background-color: $veryLightGreen;
  // text-transform: capitalize;
}

// .logoutContainer {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   padding: 20px;
// }

// .logoutButton {
//   margin-top: 30px;
//   background-color: red;
//   color: white;
//   border: none;
//   border-radius: 4px;
//   padding: 10px;
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   cursor: pointer;
//   width: 100%;
// }

// .logoutButton .logoutIcon {
//   width: 20px;
//   height: 20px;
// }

// .logoutButton span {
//   margin-left: 10px;
//   font-weight: bold;
// }

.sidebar {
  background-color: $white;
  border-radius: 40px;
  position: absolute;
  top: 0;
  left: 0;
  padding: 1rem;
  width: 14.8rem;
  height: 100vh;
  transition: width 0.5s ease;

  .profileContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    //justify-content: flex-start;
    justify-content: center;
    background: $lightGrey;
    padding: 5px;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
    position: relative;

    &:hover {
      background: darken($lightGrey, 5%);
    }

    // img {
    //   width: 100px;
    //   height: 100px;
    //   border-radius: 50%;
    //   object-fit: cover;
    //   transition: width 0.3s, height 0.3s;
    // }

    .profileContents {
      padding-left: 10px;
      text-align: left;
      // padding: 0 0 0 1rem;
      // max-width: 11rem;

      p.name {
        // padding: 0;
        // margin: 2px;
        // font-size: 16.7px;
        // color: $darkGrey;
        // text-transform: capitalize;
        // font-weight: $heavyFont;
        font-size: 13px;
        font-weight: bold;
        color: $darkGrey;
        margin-top: 3px;
      }

      p {
        font-size: 12px;
        color: $darkGrey;
        margin: 0;
        // padding: 0;
        // margin: 0;
        // font-size: 11.9px;
        // color: $darkGrey;
        // text-transform: lowercase;
        // overflow-wrap: break-word;
      }
    }
  }

  .dropdownMenu {
    position: absolute;
    top: 110%;
    left: 0;
    background: $white;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    width: 100%;
    padding: 10px;
    z-index: 100;
    animation: fadeIn 0.2s ease-in-out;

    .dropdownTitle {
      font-size: 16px;
      font-weight: bold;
      padding-bottom: 10px;
      color: $blue;
      text-align: center;
    }

    ul {
      list-style: none;
      padding: 0;
      margin: 0;

      li {
        display: flex;
        align-items: center;
        padding: 10px;
        cursor: pointer;
        border-radius: 8px;
        transition: background 0.2s ease-in-out;

        &:hover {
          background: $lightGrey;
        }

        .dropdownIcon {
          margin-right: 10px;
        }

        a,
        span {
          text-decoration: none;
          color: $darkGrey;
          font-size: 16px;
          flex-grow: 1;
          text-align: left;
        }
      }
      /* Special styling for Sign Out */
      li.signout {
        color: red; /* Text color red */
        font-weight: bold;

        .dropdownIcon {
          color: red; /* Icon color red */
        }
        span {
          color: red;
        }
      }
    }
  }

  /* Fade-in animation for pop-up */
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-5px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  /* Overlay Background for Modal */
  .dropdownOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.3);
    z-index: 998;
  }

  .logoContainer {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-bottom: 3.2rem;
    width: 100%;

    h2.title {
      font-size: 20.42px;
      color: $blue;
      padding: 0 0 0 1rem;
    }
    .logo {
      width: 40%;
      transition: width 0.5s ease;
    }
  }

  .burgerContainer {
    content: "";
    background-color: $green;
    position: absolute;
    right: (-35px / 2);
    top: calc(9rem / 1.15);
    width: 35px;
    height: 35px;
    border-radius: 2rem;
    z-index: 1;

    .burgerTrigger {
      content: "";
      width: 35px;
      height: 35px;
      background-color: red;
      cursor: pointer;
      z-index: 6;
      opacity: 0;
      position: relative;
    }

    .burgerMenu {
      content: "";
      background-color: $green;
      position: relative;
      z-index: 1;
      width: 20px;
      height: 3px;
      border-radius: 2rem;
      bottom: calc(35px / 2);
      left: 0.45rem;
      transition: 0.5s all;
    }

    .burgerMenu::after {
      content: "";
      background-color: $white;
      position: absolute;
      width: 20px;
      height: 3px;
      border-radius: 2rem;
      top: 0.4rem;
      transform: translateY(-0.4rem) rotate(45deg);
      transition: 0.5s all;
    }

    .burgerMenu::before {
      content: "";
      background-color: $white;
      position: absolute;
      width: 20px;
      height: 3px;
      border-radius: 2rem;
      top: -0.4rem;
      transform: translateY(0.4rem) rotate(-45deg);
      transition: 0.5s all;
    }
  }

  .burgerContainer::after {
    content: "";
    position: absolute;
    right: 35px;
    top: (35px / 2);
    z-index: 0;
    width: calc(6rem + 15rem);
    background-color: $lightGrey;
    height: 2px;
    transition: 0.5s all;
  }

  .contentsContainer {
    margin: 2rem 0 0 0;

    ul {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      flex-direction: column;
      list-style: none;
      padding: 0;
      margin: 0;

      .submenu {
        position: relative;
        //top: 100%;
        left: 2rem;
        //background-color: $lightGrey;
        //border-radius: 0 0 1rem 1rem;
        //padding: 0.5rem;
        //box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        //transition: opacity 0.3s, visibility 0.3s;
        //margin-bottom: 20px;
      }

      li {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: row;
        margin: 0.75rem 0;
        padding: 0.75rem 0;
        width: 100%;
        border-radius: 1rem;
        cursor: pointer;

        .arrow {
          position: absolute;
          top: 50%;
          right: 1rem;
          transform: translateY(-50%);
          width: 35px;
          height: auto;
        }

        &:hover .arrow {
          color: red; /* Change arrow color on hover */
        }

        img {
          object-fit: cover;
          width: 3.5rem;
          height: 2rem;
          padding: 0 1rem 0 0.5rem;
        }

        a {
          text-decoration: none;
          color: $darkGrey;
          font-size: 20px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin: 0 0 0 0.5rem;
        }

        p {
          text-decoration: none;
          color: $darkGrey;
          font-size: 20px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin: 0 0 0 0.5rem;
        }

        &:hover a {
          color: red;
        }
        &:hover p {
          color: red;
        }
      }

      li.active {
        background-color: $lightGrey;

        a {
          color: red;
        }
      }

      li:hover {
        background-color: $lightGrey;
        transition: 0.25s all;
      }
    }
  }
}

.sidebar.active {
  width: 4.8rem;
  transition: 0.5s ease;

  // .profileContainer img {
  //   width: 50px; /* Smaller image when sidebar is collapsed */
  //   height: 50px;
  //   transition: width 0.3s, height 0.3s;
  // }

  .profileContents {
    opacity: 0; /* Hide the profile text when sidebar is collapsed */
    transition: opacity 0.3s ease;
  }

  /* Ensure dropdown menu remains the same size */
  .dropdownMenu {
    width: 250px; /* Same size as when sidebar is open */
    //left: -1px; /* Position it correctly when sidebar is collapsed */
    top: 110%;
  }

  // .logoutContainer {
  //   display: none; /* Hides the logout container when sidebar is collapsed */
  // }

  .burgerContainer.active {
    transition: 0.5s all;
    .burgerMenu {
      background-color: $white;
      transition: 0.5s all;
    }

    .burgerMenu::before {
      transform: translateY(0rem) rotate(0deg);
      transition: 0.5s all;
    }

    .burgerMenu::after {
      transform: translateY(0rem) rotate(0deg);
      transition: 0.5s all;
    }
  }

  .profileContainer {
    .profileContents {
      opacity: 0;
    }
  }

  .contentsContainer {
    a {
      opacity: 0;
    }
    p {
      opacity: 0;
    }
    .arrow {
      opacity: 0;
    }
  }

  .logoContainer.active {
    h2.title {
      opacity: 0;
    }
    .logo {
      width: 100%;
    }
  }
}
